<!DOCTYPE html>
<html lang="en">
<head>
    <title>select model</title>
</head>
<body>
    <h1>model dimension selection</h1>
    <ul id="navigation">
        <li><a href="{{ url_for('gantrans.upload_pic', modeldimension='Small')}}"><button type="button">select first model</button></a></li>
        <br/>
        <li><a href="{{ url_for('gantrans.upload_pic', modeldimension='Large')}}"><button type="button">select second model</button></a></li>
        <br/>
        <li><a href="{{ url_for('gantrans.draw_pic')}}"><button type="button">draw by yourself</button></a></li>
    </ul>
</body>
</html>
